@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Playfair+Display+SC:wght@400;700;900&display=swap");
* {
  outline: none !important; }

img {
  max-width: 100%;
  height: auto; }

.montserrat {
  font-family: "Montserrat", sans-serif; }

.playfair {
  font-family: "Playfair Display SC", sans-serif; }

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  color: #0b162c;
  flex-direction: column;
  min-height: 100vh; }

.border-blue {
  border: 16px solid #0b162c;
  border-top: 0; }

a {
  text-decoration: none !important;
  transition: 0.3s; }
  a:hover {
    opacity: 0.8; }
  a.black:hover {
    color: #0b162c; }

.btn {
  transition: 0.3s; }
  .btn:focus {
    box-shadow: none; }

.btn-blue {
  color: #FFF;
  text-transform: uppercase;
  font-size: 10px;
  background-color: #a2cbf9;
  padding: 7px 18px;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 0;
  border: 2px solid;
  border-color: #a2cbf9; }
  .btn-blue:hover {
    background-color: rgba(162, 203, 249, 0.8);
    border-color: rgba(162, 203, 249, 0.8);
    color: #FFF; }

.btn-red {
  padding: 7px 34px;
  background-color: #ba232b;
  border-color: #ba232b; }
  .btn-red:hover {
    background-color: transparent;
    border-color: #FFF; }

@media (min-width: 1175px) {
  .container {
    max-width: 950px; } }
@media (min-width: 1600px) {
  .container {
    max-width: 1170px; } }
@media (min-width: 1950px) {
  .container {
    max-width: 1400px; } }
@media (min-width: 2350px) {
  .container {
    max-width: 1895px; } }

.row-2 {
  margin-left: -2px;
  margin-right: -2px; }
  .row-2 > [class*='col'] {
    padding-left: 2px;
    padding-right: 2px; }

.row-8 {
  margin-left: -8px;
  margin-right: -8px; }
  .row-8 > [class*='col'] {
    padding-left: 8px;
    padding-right: 8px; }

.h1, h1 {
  text-transform: uppercase;
  font-size: 60px;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: "Playfair Display SC", sans-serif; }
  @media (max-width: 767.98px) {
    .h1, h1 {
      font-size: 40px; } }

.h6, h6 {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px; }

.fz-26 {
  font-size: 26px; }

.lh-18 {
  line-height: 1.8; }

.page-navbar {
  background-color: #0b162c;
  padding-bottom: 2px; }

.navbar {
  padding: 2px 0 34px;
  background-color: #0b162c;
  box-shadow: 7px 7px 25px rgba(0, 0, 0, 0.45); }
  @media (max-width: 991.98px) {
    .navbar {
      padding: 8px 0; } }
  @media (max-width: 575.98px) {
    .navbar {
      padding-left: 15px;
      padding-right: 15px; } }
  .navbar .navbar-brand {
    margin-right: 16px; }
    .navbar .navbar-brand img {
      width: 293px; }
      @media (max-width: 991.98px) {
        .navbar .navbar-brand img {
          width: 180px; } }
      @media (max-width: 767.98px) {
        .navbar .navbar-brand img {
          width: 140px; } }

.link-back {
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px; }
  .link-back .fa-chevron-right {
    font-size: 22px; }
  .link-back:hover {
    color: #b92631;
    opacity: 1; }

.sandwich {
  display: inline-block;
  color: #0b162c;
  cursor: pointer;
  transition: none;
  padding: 0;
  border: 0;
  background-color: #0b162c; }
  .sandwich:hover {
    opacity: 0.6; }
  .sandwich:before {
    width: 25px; }
  .sandwich span {
    width: 25px; }
  .sandwich:after {
    width: 25px; }
  .sandwich:before, .sandwich:after {
    content: ""; }
  .sandwich span, .sandwich:after {
    margin-top: 8px; }
  .sandwich span, .sandwich:before, .sandwich:after {
    display: block;
    transition: 0.3s;
    transform-origin: right center;
    border-top: 1px solid #FFF;
    margin-left: auto; }
  .sandwich:not(.collapsed):before {
    transform: rotate(-45deg);
    width: 25px; }
  .sandwich:not(.collapsed) span {
    width: 0;
    opacity: 0; }
  .sandwich:not(.collapsed):after {
    transform: rotate(45deg);
    width: 25px; }
  .sandwich:hover {
    opacity: 0.8; }

.footer {
  background-image: url(../img/footer.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 124px;
  margin-top: auto;
  color: #FFF;
  padding-top: 12px;
  padding-bottom: 12px; }
  .footer .content {
    font-size: 5px;
    letter-spacing: 2px;
    line-height: 1.8; }

.header {
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 553px;
  position: relative; }
  .header:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7); }
  .header .img-ribbon {
    position: absolute;
    right: -16px;
    bottom: 0;
    width: 150px;
    z-index: 3; }

.header-content {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  position: relative;
  padding-top: 140px;
  padding-bottom: 150px;
  text-align: center;
  z-index: 2;
  font-size: 14px; }
  @media (max-width: 991.98px) {
    .header-content {
      padding-top: 80px; } }
  @media (max-width: 575.98px) {
    .header-content {
      padding-top: 50px; } }

.section-map {
  padding-top: 110px;
  padding-bottom: 30px;
  border-top: 16px solid #0b162c; }
  @media (max-width: 991.98px) {
    .section-map {
      padding-top: 90px; } }

.search-box {
  display: flex;
  position: relative; }
  .search-box .search {
    position: absolute;
    text-align: center;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 46px;
    background: #0b162c;
    transition: all 0.5s;
    z-index: 4;
    cursor: pointer;
    color: #FFF;
    font-weight: bold;
    padding: 8px 20px;
    font-size: 25px;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 1.2; }
    @media (max-width: 991.98px) {
      .search-box .search {
        font-size: 18px;
        height: 36px;
        width: 320px; } }
    @media (max-width: 575.98px) {
      .search-box .search {
        width: 260px;
        font-size: 12px;
        line-height: 1.5; } }
  .search-box .form-drop {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 46px;
    transition: all 0.5s;
    opacity: 0;
    z-index: 5; }
    @media (max-width: 991.98px) {
      .search-box .form-drop {
        height: 36px;
        width: 320px; } }
    @media (max-width: 575.98px) {
      .search-box .form-drop {
        width: 260px; } }
    .search-box .form-drop .btn-search {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      padding: 0;
      width: 28px;
      height: 28px;
      cursor: pointer;
      background-image: url(../img/search.png);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; }
      @media (max-width: 991.98px) {
        .search-box .form-drop .btn-search {
          width: 20px;
          height: 20px; } }
    .search-box .form-drop .form-control {
      border: 0;
      border-bottom: 2px solid #0b162c;
      background: transparent;
      border-radius: 0;
      font-size: 20px;
      font-style: italic;
      padding: 0 10px 0 46px;
      cursor: pointer; }
      @media (max-width: 991.98px) {
        .search-box .form-drop .form-control {
          font-size: 16px;
          padding: 0 10px 0 30px; } }
      @media (max-width: 575.98px) {
        .search-box .form-drop .form-control {
          font-size: 14px; } }
      .search-box .form-drop .form-control::-webkit-input-placeholder {
        color: #a5a6ab;
        font-family: "Montserrat", sans-serif;
        font-style: italic;
        letter-spacing: 2px; }
      .search-box .form-drop .form-control::-moz-placeholder {
        color: #a5a6ab;
        font-family: "Montserrat", sans-serif;
        font-style: italic;
        letter-spacing: 2px; }
      .search-box .form-drop .form-control:-ms-input-placeholder {
        color: #a5a6ab;
        font-family: "Montserrat", sans-serif;
        font-style: italic;
        letter-spacing: 2px; }
      .search-box .form-drop .form-control:focus {
        box-shadow: none; }
    .search-box .form-drop.active {
      opacity: 1;
      right: -415px; }
      @media (max-width: 991.98px) {
        .search-box .form-drop.active {
          right: 0;
          bottom: -80px; } }
      .search-box .form-drop.active .form-control {
        cursor: text; }
      .search-box .form-drop.active ~ .search {
        left: -415px;
        z-index: 6; }
        @media (max-width: 991.98px) {
          .search-box .form-drop.active ~ .search {
            left: 0; } }

.us-box {
  padding-top: 90px;
  text-align: center; }
  .us-box .us-map {
    display: flex;
    justify-content: center;
    margin: auto;
    height: auto;
    max-width: 948px; }
    .us-box .us-map svg {
      width: auto !important; }
      .us-box .us-map svg path {
        stroke: #FFF; }
  .us-box #clicked-state {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase; }

/*# sourceMappingURL=style.css.map */
